{% extends "base.html" %}

<div class="container">
    {% block content %}
        <h1>Tags</h1>

        {% if terms %}
            <ul>
                {% for term in terms %}
                    <li style="line-height: 2em;">
                        <a href="{{ term.permalink | safe }}">
                            <span class="tag-text">{{ term.name }}</span>
                        </a>&nbsp; &mdash; ({{ term.pages | length }})
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock content %}
</div>
