{% extends "base.html" %}
{% import "_post_macros.html" as post_macros %}


{% block content %}
    <h1>
        <span class="tag-text">{{ term.name }}</span>
    </h1>

    <ol style="list-style: none;">
        {% for page in term.pages %}
        <li>
            <h2>
                <a class="post-link" href="{{ page.permalink | safe }}">{{ page.title }}</a>
                <span class="post-meta">{{ post_macros::meta(page=page) }}</span>
            </h2>
        </li>
        {% endfor %}
    </ol>
{% endblock content %}
